@use './reset';
@use './variables' as var;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	font-family: 'Open Sans', inherit;

	//sizes
	&__small {
		padding: 0.5rem 0.5rem;
		font-size: 0.875rem;
	}

	&__medium {
		padding: 0.5rem 2.15rem;
		font-size: 0, 875rem;
	}
	&__large {
		padding: 0.8rem 2rem;
		font-size: 1rem;
	}

	//variants

	&__primary {
		background-color: var.$color_orange;
		color: var.$color_white;
		font-weight: 400;
		box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.25);
	}

	&__secondary {
		background-color: var.$color_white;
		color: var.$color_dark_gray;
		font-weight: 400;
		border: 1px solid var.$color_dark_gray;
		box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.25);

		&__active {
			background-color: var.$color_dark_gray;
			color: var.$color_white;
			border: none;
		}
	}

	//modifires
	&__full-width {
		width: 100%;
	}

	//elements
	&__label {
		display: inline-block;
	}
}
