@use './reset';
@use './variables' as var;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
}

.checkout-route {
	display: flex;

	&__ul {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		gap: 86px;
		background-color: var.$color_white;
		height: 36px;
		width: 400px;
		margin: 20px;
	}

	&__li {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 80px;
		background-color: var.$color_gray_cream;
		box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.25);
	}

	&__image:nth-child(1) {
		height: 26px;
		width: 29.42px;
	}

	&__image:nth-child(2) {
		height: 22.23px;
		width: 33px;
	}

	&__image:nth-child(3) {
		height: 25.08px;
		width: 22px;
	}
}
