@use './reset';
@use './variables' as var;

.cart-page {
	display: flex;
	flex-direction: column;
	background-color: var.$color_cream;
	min-height: 100svh;

	&__title {
		font-size: 32px;
		font-weight: 700;
		color: var.$color_dark_gray;
	}

	main {
		flex: 1;
		padding: 20px;
	}

	&__payment {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 170px;
		gap: 40px;
		position: absolute;
		right: 20px;
	}
}
