* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.create-account-page {
    margin-top: 100px;
    min-height: 100vh; 
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;  
}

.create-account-page__heading {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 40px 0 50px 45px;
    padding-top: 40px;
    color: #333;
}

.create-account-page__account-form {
    flex-direction: column;
    background-color: #FFFFFF;
    width: 95%;
    margin-left: 45px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    h2 {
        font-size: 1.8em;
        font-weight: 500;
        margin: 50px 0 50px 10px;
        padding: 50px 0 0 20px;
        color: #333;
    }

    span {
        color: red;
    }
    
    p {
        margin: 20px 0 20px 10px;
        font-size: 1.1em;
        padding: 30px 0 0 20px;
    }

    input {
        width: 60%;
        padding: 10px;
        margin: 10px 0 0 25px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #E8E8E8;
        font-size: 1em;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    }
}

.create-account-page__checkboxes {
    margin: 20px 0 20px 0px;
    padding: 30px 0 0 5px;

    input[type="checkbox"] {
        background-color: #E8E8E8;
        margin-right: 10px;
        width: 15px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    }
}

.submit-btn {
    background-color: #f47920;
    font-size: 1em;
    width: 200px;
    color: white;
    padding: 10px 15px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    margin: 30px 0 50px 30px;
    border-radius: 3px;
}