.create-account-page {

    h2 {
        font-size: 2.5em;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin: 40px 0 0 20px;
        padding-bottom: 10px;
        color: #333;
    }

    span {
        color: red;
    }


}