@use './reset';
@use './variables' as var;

.dropdown {
	position: relative;
}

.dropdown-button {
	background-color: var.$color_black;
	color: var.$color_white;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	position: absolute;
	overflow-y: auto;
	overflow: hidden;
	background-color: var.$color_white;
	z-index: 20;
	top: 3.9rem;
}

.dropdown-content-heading {
	color: var.$color_black;
	font-size: 24px;
	font-weight: 600;
}

.dropdown-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 20vw;
	padding: 20px;
	list-style: none;
	font-size: 22px;
}

#dropdown-item {
	color: var.$color_gold;
}

#dropdown-item:hover {
	text-decoration: underline;
}
