@use './reset';
@use './variables' as var;

.faq-page {
	display: flex;
	flex-direction: column;
	background-color: var.$color_cream;
	min-height: 100svh;
	align-items: center;
	margin-top: 100px;

	main {
		display: flex;
		flex-direction: column;
		max-width: 1124px;
		background-color: var.$color_white;
		box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.25);
		padding: 49px 45px;
		gap: 32px;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	article:first-child > h2 {
		font-size: 24px;
		font-weight: 300;
	}

	article:first-child {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__header {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		margin: 36px 0 53px 45px;
		text-transform: uppercase;

		h1 {
			font-size: 48px;
			font-weight: 600;
			color: var.$color_dark_gray;
			text-align: center;
		}
	}
	p {
		font-size: 14px;
	}
}
