@use './reset';
@use './variables' as var;

.footer {
	display: flex;
	flex-direction: column;
	background-color: var.$color_black;
	padding: 48px 190px 13px 63px;
	width: 100svw;
	height: auto;
	position: fixed;
	bottom: 0;
	z-index: -1;

	&ul,
	li,
	a {
		list-style: none;
		color: var.$color_white;
	}

	&__footer-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		color: var.$color_white;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 27px;
	}

	&__tc {
		display: flex;
		flex-direction: column;
		gap: 17px;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 17px;
	}

	&__contact-item {
		font-weight: 600;
	}

	&__contact-item-phone {
		width: 20px;
		height: 20px;
		margin-right: 15px;
	}

	&__contact-item-socials-ul {
		display: flex;
		gap: 12px;
	}

	&__horizontal-line {
		width: 100%;
		height: 1px;
		background-color: var.$color_white;
		margin-top: 20px;
	}

	&__payment-methods {
		display: flex;
		flex-direction: column;
	}

	&__payment-methods-ul {
		display: flex;
		gap: 12px;
		padding: 15px 0;
	}

	&__payment-methods-ul-business-details {
		display: flex;
		font-size: 8px;
		width: 50%;
		justify-content: space-between;
	}
}
