* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-page {
    margin-top: 100px;
    min-height: 100vh; 
    background-color: #f6f6f6;
    font-family: "Open Sans", sans-serif;

    .login-page__heading {
        font-size: 2.5em;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin: 100px 0 50px 45px;
        padding-top: 40px;
        color: #333;
    }

    .login-page__account-form {
        display: flex;
        flex-direction: column;
        max-width: 95%;
        background-color: #ffffff;
        margin-left: 45px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

        h3 {
            font-size: 1.8em;
            font-weight: 500;
            margin: 0px 0 -40px 10px;
            padding: 50px 0 0 20px;
            color: #333;
        }

        span {
            color: red;
        }

        p {
            margin: 20px 0 50px 10px;
            font-size: 0.9em;
            padding: 30px 0 0 20px;
        }

        label {
            display: flex;
            flex-direction: column;
            margin: 20px 0 0 30px;
            font-size: 1em;
        }

        input {
            display: flex;
            width: 60%;
            padding: 10px;
            margin: 10px 0 0 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #e8e8e8;
            font-size: 1em;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

        button {
            background-color: #f47920;
            font-size: 1em;
            width: 200px;
            color: white;
            padding: 10px 15px;
            margin: 0 auto;
            border: none;
            cursor: pointer;
            margin: 30px 0 5px 30px;
            border-radius: 3px;
        }

        .login-page__account-form__forgot-password {
            display: flex;
            margin: 0 0 20px 30px;
            padding: 0 0 0 0;
            font-size: 0.9em;
            color: #f47920;
            cursor: pointer;
        }
    }
}

.remember-me {
    margin: 0 0 20px 30px;
    padding: 0 0 0 0;

    input[type="checkbox"] {
        background-color: #E8E8E8;
        margin-right: 10px;
        width: 15px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    label {
        font-size: 1em;
    }
    h5 {
        margin: 0px 0 0px 0px;
        font-size: 0.9em;
        font-weight: 400;
        padding: 0px 0 0 0px;
    }
}

.new-customer {
    flex-direction: column;
    background-color: #ffffff;
    max-width: 95%;
    margin-left: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    button {
        background-color: #f47920;
        font-size: 1em;
        width: 200px;
        color: white;
        padding: 10px 15px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        margin: 30px 0 50px 830px;
        border-radius: 3px;
    }

    h3 {
        font-size: 1.8em;
        font-weight: 500;
        margin: 50px 0 -40px 10px;
        padding: 50px 0 0 810px;
        color: #333;
    }

    p {
        margin: 20px 0 0px 10px;
        font-size: 0.9em;
        padding: 30px 0 0 670px;
    }
}
