@use './reset';
@use './variables' as var;

.product-card {
	background-color: var.$color_white;
	padding: 10px;
	box-shadow: 2px 2px 8px #000;

	&__image {
		width: 100%;
		height: 320px;
		object-fit: contain;
	}

	&__name {
		font-size: 14px;
		font-weight: 400;
	}
}
