/* Base reset */

/*Box-sizing*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
figure {
	margin: 0;
	padding: 0;
}

img,
video,
svg {
	max-width: 100%;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
li {
	font-family: 'Open Sans', sans-serif;
}
