$color_white: #ffffff;
$color_cream: #f4f4f2;
$color_gray_cream: #e8e8e8;
$color_gray: #bbbfca;
$color_light_gray: #d2d2d2;
$color_dark_gray: #495464;
$color_black: #000000;
$color_orange: #ff6900;
$color_gold: #a39161;
$color_green: #008000;
$color_red: #ff0000;
